@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  background-position: center;
  background-size: cover;
}

.weather-container {
  position: absolute;
  right: 0;
}

.clock-container {
  position: relative;
  top: 37.5%;
}

.userinfo-container {
  position: relative;
  top: 38%;
}

.quote-container {
  width: 100%;
  position: absolute;
  bottom: 2vh;
}

.settings-container {
  position: absolute;
  left: 0;
  top: 0;
}
